.advantages__description {
  text-transform: uppercase;
  color: @colortext;
  text-align: center;
  padding: 30px 18px;
}

.advantages__list{
  list-style: none;
  padding: 0;
}

.advantages__item-text {
  background-color: @background;
}

.advantages__item-city {
  width: 100%;
}

.advantages__item-bridge {
  width: 100%;
}

.advantages__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 30px;
}

.advantages__item-description {
  text-transform: uppercase;
  font-weight: 400;
  color: #FFFFFF;
  padding: 49px 18px 40px 18px;
  text-align: center;
  margin: 0;
}

.advantages__title--color {
  color: #000000;
  margin: 0;
}

.advantages__item-description--color {
  color: @colortext;
}

.advantages__list-continuation {
  list-style: none;
  background-color: #EEEEEE;;
}
