.advantages__description {
  text-transform: uppercase;
  color: @colortext;
  text-align: center;
  padding: 30px 18px;
  margin: 0;
}

.advantages__list {
  counter-reset: myCounter;
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages__item-text {
  position: relative;
  background-color: @background;

  @media (min-width: @tablet-width) {
    min-width: 256px;
    height: 256px;
  }
}

.advantages__item-text::before {
  position: absolute;
  top: 10vh;
  left: 43%;
  counter-increment: myCounter;
  content: "\2014 \00A0 № " counter(myCounter) " \2014";
  color: #ffffff;

  @media (min-width: @tablet-width) {
    left: 39%;
  }

  @media (min-width: @desktop-width) {
    left: 42%
  }
}

.advantages__list-continuation {
  counter-reset: myCounter2 2;
  list-style: none;
  background-color: #eeeeee;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    padding: 0 36px;
  }
}

.advantages__item-continuation {
  position: relative;
  margin: 0 18px;
  border-bottom: 1px solid #D6D6D6;

  @media (min-width: @tablet-width) {
    border-bottom: none;
    margin: 0;
  }
}

.advantages__item-continuation::before {
  position: absolute;
  top: 10vh;
  left: 43%;
  counter-increment: myCounter2 1;
  content: "\2014 \00A0 № " counter(myCounter2) " \2014";
  color: @colortext;

  @media (min-width: @tablet-width) {
    left: 41%;
  }
}

.advantages__item-city {
  width: 100%;

  @media (min-width: @tablet-width) {
    height: 256px;
  }
}

.advantages__item-bridge {
  width: 100%;

  @media (min-width: @tablet-width) {
    height: 256px;
    order: -1;
  }
}

.advantages__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 54px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    line-height: 21px;
  }
}

.advantages__item-description {
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  padding: 32px 18px 40px 18px;
  text-align: center;
  margin: 0;
  @media (min-width: @tablet-width) {
    padding-bottom: 62px;
  }
}

.advantages__title--color {
  color: #000000;
  margin: 0;
  @media (min-width: @tablet-width) {
    padding-top: 42px;
  }
}

.advantages__item-description--color {
  color: @colortext;
}

.advantages__list-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.advantages__item-wrapper {
  @media (min-width: @desktop-width) {
    flex-direction: row-reverse;
  }
}

.advantages__item-wrapper-1 {
  position: relative;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.advantages__item-wrapper-1::before {
  content: "";
  position: absolute;
  top: 0;
  right:0;
  width: 100%;
  height: 37px;
  background-image: url("../img/advantages-corner.svg");
  background-size: cover;
  background-position: 50%;
  z-index: 1;

  @media (min-width: @tablet-width) {
    content: none;
  }
}

.advantages__item-wrapper-2 {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

.advantages__item-wrapper-2 .advantages__item-text {
  @media (min-width: @tablet-width) {
    order: 1;
  }
}
