.advantages-sublist {
  list-style: none;
  padding: 25px 18px 50px 18px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 36px;
  }
}

.advantages-sublist__title {
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    line-height: 21px;
  }
}

.advantages-sublist__title--house::before {
  content: url("../img/icon-house.svg");
  padding-right: 8px;
}

.advantages-sublist__title--food::before {
  content: url("../img/icon-food.svg");
  padding-right: 8px;
}

.advantages-sublist__title--presents::before {
  content: url("../img/icon-presents.svg");
  padding-right: 8px;
}

.advantages-sublist__description {
  color: @colortext;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding-bottom: 46px;
  }
}

.advantages-sublist__item {
  @media (min-width: @tablet-width) {
  text-align: center;
  }
}
