.button {
  border: none;
  background-color: @background;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  height: 58px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
