.footer-hashtag {
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-top: 28px;
    margin-right: 111px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 25px;
    margin-left: 20px;
  }
}

.footer-hashtag__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.footer-hashtag__link {
  text-decoration: none;

  &:focus {
    outline: 2px solid #0b5ba3;
  }
}
