.gallery {
  padding: 0 20px;
}

.gallery__title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.gallery__title--video {
  display: block;
}

.gallery__description {
  text-transform: uppercase;
  color: @colortext;
  text-align: center;
}

.gallery__list {
  list-style: none;
  padding: 0;
}

.gallery__subtitle {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.gallery__author-name {
  font-style: normal;
  color: @colortext;
}

.like__volume {
  font-weight: 700;
}
