.header-catalog {
  background-image: url("../img/header-catalog-mobile.png");
  background-repeat: no-repeat;
  width: 320px;
  height: 214px;
  outline: 5px solid #e74d12;
}

.header-catalog__text {
  padding: 85px 45px;
}
