.social__list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.social__item {
  width: 48px;
  height: 48px;
  background-color: @background;
  margin-right: 6px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__item--vkontakte {
  background-image: url("../img/icon-vkontakte.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social__item--telegram {
  background-image: url("../img/icon-telegram.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social__item--youtube {
  background-image: url("../img/icon-youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
}

