.reservation__title {
  display: block;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  padding: 30px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 26px;
  }
}

.reservation__description {
  color: @colortext;
  text-transform: uppercase;
  padding: 0 30px 0 20px;
  margin: 0;
  text-align: center;
}

.reservation__button {
  width: 284px;
  text-align: center;
  padding: 15px 0;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 30px;

  @media (min-width: @tablet-width) {
    width: 458px;
  }
}

.reservation__button-title {
  text-decoration: none;
  color: #ffffff;
}
