.review {
  padding: 30px 20px;
}

review__title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  padding: 20px;
  margin: 0;
}

.review__description {
  text-transform: uppercase;
  color: @colortext;
  text-align: center;
}
