.site-list {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.site-list__item {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.site-list__link {
  text-decoration: none;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    color: #000000;
    font-size: 14px;
    line-height: 21px;
  }
}
