@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}
.main-header {
  position: relative;
  background-color: #ffffff;
  height: 56px;
}
.main-header__logo {
  width: 185px;
  display: block;
  margin: 0 auto;
}
.main-header__logo:focus {
  outline: 2px solid #0b5ba3;
}
@media (min-width: 768px) {
  .main-header__logo {
    position: relative;
    z-index: 5;
  }
}
.banner__background {
  position: relative;
  background-color: #000000;
  background-image: url("../img/banner-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  z-index: -1;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .banner__background {
    background-image: url("../img/banner-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .banner__background {
    background-image: url("../img/banner-tablet.jpg");
    height: 518px;
    background-position: 50%;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .banner__background {
    background-image: url("../img/banner-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .banner__background {
    background-image: url("../img/banner-desktop.jpg");
    background-position: 50%;
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .banner__background {
    background-image: url("../img/banner-desktop@2x.jpg");
  }
}
.banner__background::after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 100%;
  height: 57px;
  background-image: url("../img/corners-banner.svg");
  background-size: cover;
  background-position: 50%;
}
.banner__image {
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .banner__image {
    width: 461px;
    height: auto;
    padding-top: 77px;
  }
}
@media (min-width: 1200px) {
  .banner__image {
    width: 40%;
  }
}
.banner__description {
  display: block;
  padding-top: 32px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}
.button {
  border: none;
  background-color: #81B3D2;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  height: 58px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  cursor: pointer;
}
.button:hover {
  background-color: #669EC0;
}
.button:active {
  background-color: #5496BD;
}
.button:disabled {
  background-color: #E5E5E5;
}
.button__title {
  text-decoration: none;
  color: #ffffff;
}
.button__title:focus {
  outline: none;
}
.button:active .button__title {
  opacity: 30%;
}
.container {
  width: auto;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 768px) {
  .container {
    width: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 40px;
  }
}
.main-nav {
  background-color: #81B3D2;
  position: absolute;
  top: 0;
  width: 100%;
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav__toggle:focus {
  outline: 2px solid #0b5ba3;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 20px;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2;
}
.main-nav--closed .main-nav__toggle:hover::before {
  background-color: rgba(129, 179, 210, 0.6);
  box-shadow: 0 8px 0 0 rgba(129, 179, 210, 0.6), 0 16px 0 0 rgba(129, 179, 210, 0.6);
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(129, 179, 210, 0.3);
  box-shadow: 0 8px 0 0 rgba(129, 179, 210, 0.3), 0 16px 0 0 rgba(129, 179, 210, 0.3);
}
@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }
  .main-nav--nojs .site-list__item {
    display: block;
  }
}
.main-nav--opened .main-nav__toggle {
  background-color: #81b3d2;
  top: 3px;
  right: 0;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 31px;
  height: 4px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:hover::before,
.main-nav--opened .main-nav__toggle:hover::after {
  background-color: rgba(255, 255, 255, 0.6);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.site-list {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    background-color: #ffffff;
  }
}
.site-list::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
@media (min-width: 768px) {
  .site-list::after {
    content: "";
    background: none;
  }
}
.site-list__item {
  text-align: center;
  vertical-align: middle;
  height: 55px;
  padding-top: 17px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  cursor: pointer;
}
@media (max-width: 767px) {
  .site-list__item:hover {
    background-color: #669EC0;
  }
  .site-list__item:active {
    background-color: #5496BD;
  }
  .site-list__item:active .site-list__link {
    color: rgba(255, 255, 255, 0.3);
  }
}
@media (min-width: 768px) {
  .site-list__item {
    border: none;
  }
}
@media (min-width: 768px) {
  .site-list__item:nth-child(2) {
    padding-right: 35px;
    margin-right: 100px;
    padding-left: 50px;
  }
}
.site-list__link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.site-list__link:focus {
  outline: 2px solid #0b5ba3;
}
@media (min-width: 768px) {
  .site-list__link {
    color: #000000;
    font-size: 14px;
    line-height: 21px;
  }
  .site-list__link:hover {
    color: #81B3D2;
  }
  .site-list__link:active {
    opacity: 30%;
  }
}
.site-list__link--current {
  color: #766357;
}
.advantages__description {
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  padding: 30px 18px;
  margin: 0;
}
.advantages__list {
  counter-reset: myCounter;
  list-style: none;
  padding: 0;
  margin: 0;
}
.advantages__item-text {
  position: relative;
  background-color: #81B3D2;
}
@media (min-width: 768px) {
  .advantages__item-text {
    min-width: 256px;
    height: 256px;
  }
}
.advantages__item-text::before {
  position: absolute;
  top: 10vh;
  left: 43%;
  counter-increment: myCounter;
  content: "\2014 \00A0 № " counter(myCounter) " \2014";
  color: #ffffff;
}
@media (min-width: 768px) {
  .advantages__item-text::before {
    left: 39%;
  }
}
@media (min-width: 1200px) {
  .advantages__item-text::before {
    left: 42%;
  }
}
.advantages__list-continuation {
  counter-reset: myCounter2 2;
  list-style: none;
  background-color: #eeeeee;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .advantages__list-continuation {
    display: flex;
    padding: 0 36px;
  }
}
.advantages__item-continuation {
  position: relative;
  margin: 0 18px;
  border-bottom: 1px solid #D6D6D6;
}
@media (min-width: 768px) {
  .advantages__item-continuation {
    border-bottom: none;
    margin: 0;
  }
}
.advantages__item-continuation::before {
  position: absolute;
  top: 10vh;
  left: 43%;
  counter-increment: myCounter2 1;
  content: "\2014 \00A0 № " counter(myCounter2) " \2014";
  color: #333333;
}
@media (min-width: 768px) {
  .advantages__item-continuation::before {
    left: 41%;
  }
}
.advantages__item-city {
  width: 100%;
}
@media (min-width: 768px) {
  .advantages__item-city {
    height: 256px;
  }
}
.advantages__item-bridge {
  width: 100%;
}
@media (min-width: 768px) {
  .advantages__item-bridge {
    height: 256px;
    order: -1;
  }
}
.advantages__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 54px;
}
@media (min-width: 768px) {
  .advantages__title {
    font-size: 21px;
    line-height: 21px;
  }
}
.advantages__item-description {
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  padding: 32px 18px 40px 18px;
  text-align: center;
  margin: 0;
}
@media (min-width: 768px) {
  .advantages__item-description {
    padding-bottom: 62px;
  }
}
.advantages__title--color {
  color: #000000;
  margin: 0;
}
@media (min-width: 768px) {
  .advantages__title--color {
    padding-top: 42px;
  }
}
.advantages__item-description--color {
  color: #333333;
}
@media (min-width: 768px) {
  .advantages__list-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .advantages__item-wrapper {
    flex-direction: row-reverse;
  }
}
.advantages__item-wrapper-1 {
  position: relative;
}
@media (min-width: 768px) {
  .advantages__item-wrapper-1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
.advantages__item-wrapper-1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 37px;
  background-image: url("../img/advantages-corner.svg");
  background-size: cover;
  background-position: 50%;
  z-index: 1;
}
@media (min-width: 768px) {
  .advantages__item-wrapper-1::before {
    content: none;
  }
}
@media (min-width: 768px) {
  .advantages__item-wrapper-2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}
@media (min-width: 768px) {
  .advantages__item-wrapper-2 .advantages__item-text {
    order: 1;
  }
}
.advantages-sublist {
  list-style: none;
  padding: 25px 18px 50px 18px;
}
@media (min-width: 768px) {
  .advantages-sublist {
    display: flex;
    justify-content: space-between;
    padding: 0 36px;
  }
}
.advantages-sublist__title {
  display: inline-block;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .advantages-sublist__title {
    display: block;
    font-size: 21px;
    line-height: 21px;
  }
}
.advantages-sublist__icon {
  padding-right: 8px;
}
@media (min-width: 768px) {
  .advantages-sublist__icon {
    padding-top: 60px;
    padding-right: 0;
  }
}
@media (min-width: 768px) {
  .advantages-sublist__icon--house {
    width: 75px;
    height: 72px;
  }
}
@media (min-width: 768px) {
  .advantages-sublist__icon--food {
    width: 76px;
    height: 68px;
  }
}
@media (min-width: 768px) {
  .advantages-sublist__icon--presents {
    padding-top: 50px;
    width: 64px;
    height: 75px;
  }
}
.advantages-sublist__description {
  color: #333333;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .advantages-sublist__description {
    padding-bottom: 46px;
  }
}
@media (min-width: 768px) {
  .advantages-sublist__item {
    text-align: center;
  }
}
.reservation__title {
  display: block;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  padding: 30px;
}
@media (min-width: 768px) {
  .reservation__title {
    font-size: 30px;
    line-height: 26px;
  }
}
.reservation__description {
  color: #333333;
  text-transform: uppercase;
  padding: 0 30px 0 20px;
  margin: 0;
  text-align: center;
}
.reservation__button {
  width: 284px;
  text-align: center;
  padding: 15px 0;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 30px;
}
.reservation__button:focus {
  outline: 2px solid #0b5ba3;
}
@media (min-width: 768px) {
  .reservation__button {
    width: 458px;
  }
}
.map {
  padding-top: 50px;
}
.map__sedona {
  width: 100vw;
}
.main-footer {
  padding: 30px 0;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .main-footer__wrapper {
    padding: 0 100px;
  }
}
.footer-hashtag {
  text-align: center;
}
.footer-hashtag__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}
.footer-hashtag__link {
  text-decoration: none;
}
.footer-hashtag__link:focus {
  outline: 2px solid #0b5ba3;
}
.social__list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}
.social__item {
  width: 48px;
  height: 48px;
  background-color: #81B3D2;
  margin-right: 6px;
  cursor: pointer;
}
.social__item:focus {
  outline: 2px solid #0b5ba3;
}
.social__item:hover {
  background-color: #669EC0;
}
.social__item--vkontakte:active {
  background-image: url("../img/vk-active.svg");
}
.social__item--telegram:active {
  background-image: url("../img/telegram-active.svg");
}
.social__item--youtube:active {
  background-image: url("../img/youtube-active.svg");
}
.social__item:last-child {
  margin-right: 0;
}
.social__item--vkontakte {
  background-image: url("../img/icon-vkontakte.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.social__item--telegram {
  background-image: url("../img/icon-telegram.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.social__item--youtube {
  background-image: url("../img/icon-youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.copyright {
  cursor: pointer;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.copyright:focus {
  outline: 2px solid #0b5ba3;
}
@media (min-width: 768px) {
  .copyright {
    margin: 0;
    width: auto;
  }
}
.copyright__text {
  text-transform: uppercase;
}
.copyright:hover .copyright__text {
  color: #81B3D2;
}
.copyright:hover .copyright__logo {
  fill: #81B3D2;
}
.copyright:active .copyright__text {
  color: #B3B3B3;
}
.copyright:active .copyright__logo {
  fill: #B3B3B3;
}
.header-catalog {
  position: relative;
  background-color: #000000;
  background-image: url("../img/header-catalog-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% 90%;
  background-size: cover;
  height: 158px;
  z-index: -1;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .header-catalog {
    background-image: url("../img/header-catalog-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .header-catalog {
    background-image: url("../img/header-catalog-tablet.jpg");
    background-position: 50% 100%;
    height: 290px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .header-catalog {
    background-image: url("../img/header-catalog-tablet@2x.jpg");
  }
}
@media (min-width: 1200px) {
  .header-catalog {
    background-image: url("../img/header-catalog-dekstop.jpg");
    height: 300px;
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .header-catalog {
    background-image: url("../img/header-catalog-dekstop@2x.jpg");
  }
}
.header-catalog::after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 100%;
  height: 57px;
  background-image: url("../img/corners-banner.svg");
  background-size: cover;
  background-position: 50%;
}
.header-catalog__text {
  display: block;
  margin: 0 auto;
  height: auto;
  padding-top: 50px;
}
@media (min-width: 768px) {
  .header-catalog__text {
    width: 457px;
    height: 77px;
    padding-top: 80px;
  }
}
@media (min-width: 1200px) {
  .header-catalog__text {
    width: 460px;
    height: auto;
  }
}
.gallery {
  padding: 0 7%;
}
@media (min-width: 768px) {
  .gallery {
    padding: 0 60px;
  }
}
@media (min-width: 1200px) {
  .gallery {
    padding: 0;
  }
}
.gallery__title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  padding: 15px 0;
}
@media (min-width: 768px) {
  .gallery__title {
    font-size: 30px;
  }
}
.gallery__title--video {
  display: block;
  margin-top: 50px;
}
.gallery__description {
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  padding: 0 0 15px 0;
  margin: 0 0 30px 0;
}
.gallery__list {
  list-style: none;
  padding: 0;
}
@media (min-width: 768px) {
  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 480px 347px 347px;
  }
}
@media (min-width: 1200px) {
  .gallery__list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 267px;
  }
}
.gallery__link:focus {
  outline: 2px solid #0b5ba3;
}
.gallery__item {
  position: relative;
  padding-top: 15px;
}
@media (min-width: 768px) {
  .gallery__item {
    padding-top: 0;
  }
}
@media (min-width: 768px) {
  .gallery__item--1 {
    grid-column: 1 / -1;
  }
}
@media (min-width: 1200px) {
  .gallery__item--1 {
    grid-row: 1 / 1;
    grid-column: 1 / -1;
  }
}
.gallery__image {
  width: 100%;
}
@media (min-width: 768px) {
  .gallery__image {
    display: flex;
    height: 267px;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .gallery__image-1 {
    height: 400px;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .gallery__description-foto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 0 20px;
    padding-bottom: 18px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .gallery__description-foto {
    position: absolute;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 1200px) {
  .gallery__description-foto--1 {
    bottom: 0;
    right: 0;
    padding: 10px 23px;
    width: 96%;
  }
}
@media (min-width: 1200px) {
  .gallery__description-foto--position {
    bottom: 0;
    left: auto;
    padding: 10px 26px;
    width: 86%;
  }
}
.gallery__subtitle {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  margin: 0;
  padding: 15px 0 5px 0;
}
.gallery__author-name {
  font-style: normal;
  color: #333333;
  padding-bottom: 20px;
}
@media (min-width: 1200px) {
  .gallery__author-name {
    color: #FFFFFF;
  }
}
.gallery__demonstration {
  width: 100%;
}
.gallery__demonstration:focus {
  outline: 2px solid #0b5ba3;
}
@media (min-width: 768px) {
  .gallery__demonstration {
    height: 500px;
    max-width: 800px;
    margin: 0 auto;
    display: block;
    padding-bottom: 80px;
  }
}
.gallery__video {
  position: relative;
}
.gallery__video::before {
  content: "";
  position: absolute;
  top: 65%;
  right: 45%;
  width: 48px;
  height: 54px;
  background-image: url("../img/polygon 1.png");
  background-position: 50%;
}
@media (min-width: 768px) {
  .gallery__video::before {
    top: 50%;
    right: 47%;
  }
}
@media (min-width: 1200px) {
  .gallery__video::before {
    top: 49%;
    right: 48%;
  }
}
.gallery__like {
  padding: 10px 0 15px 0;
}
.like__volume {
  font-weight: 700;
}
@media (min-width: 1200px) {
  .like__icon path {
    fill: #ffffff;
    opacity: 1;
  }
}
.like__icon {
  padding-right: 15px;
}
@media (min-width: 768px) {
  .like__icon {
    padding-right: 5px;
  }
}
.review {
  padding: 30px 20px;
}
@media (min-width: 768px) {
  .review {
    padding: 30px 60px;
  }
}
@media (min-width: 768px) {
  .review .list-emotions {
    padding: 10px 35px;
  }
}
@media (min-width: 768px) {
  .review .list-attractions {
    padding: 10px 80px;
  }
}
@media (min-width: 1200px) {
  .review .list-attractions {
    padding: 10px 40px;
  }
}
.review__title {
  position: relative;
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  padding: 20px 20px 10px 20px;
  margin: 0;
}
@media (min-width: 768px) {
  .review__title {
    font-size: 21px;
  }
}
@media (min-width: 768px) {
  .review__title--media {
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  .review__emotions .review__title::before,
  .review__attractions .review__title::before {
    content: "";
    position: absolute;
    top: 32px;
    right: 360px;
    width: 16vw;
    height: 1px;
    background-color: #DBDBDB;
  }
}
@media (min-width: 1200px) {
  .review__emotions .review__title::before,
  .review__attractions .review__title::before {
    width: 280px;
    right: 380px;
  }
}
@media (min-width: 768px) {
  .review__emotions .review__title::after,
  .review__attractions .review__title::after {
    content: "";
    position: absolute;
    top: 32px;
    left: 360px;
    width: 16vw;
    height: 1px;
    background-color: #DBDBDB;
  }
}
@media (min-width: 1200px) {
  .review__emotions .review__title::after,
  .review__attractions .review__title::after {
    width: 280px;
    left: 380px;
  }
}
@media (min-width: 768px) {
  .review__mail .review__title::before {
    content: "";
    position: absolute;
    top: 32px;
    left: 0;
    width: 16vw;
    height: 1px;
    background-color: #DBDBDB;
  }
}
@media (min-width: 1200px) {
  .review__mail .review__title::before {
    width: 280px;
  }
}
@media (min-width: 768px) {
  .review__mail .review__title::after {
    content: "";
    position: absolute;
    top: 32px;
    right: 0;
    width: 16vw;
    height: 1px;
    background-color: #DBDBDB;
  }
}
@media (min-width: 1200px) {
  .review__mail .review__title::after {
    width: 280px;
  }
}
.review__description {
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  margin-bottom: 28px;
}
.review__youself {
  position: relative;
}
@media (min-width: 768px) {
  .review__youself {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .review__youself::after {
    content: "";
    position: absolute;
    top: -70px;
    right: -5px;
    width: 1px;
    height: 338px;
    background-color: #DBDBDB;
  }
}
@media (min-width: 768px) {
  .review__info {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .review__info .form__input {
    margin: 0 auto;
    margin-right: 0;
    margin-bottom: 16px;
  }
}
@media (min-width: 768px) {
  .review__info .form__subtitle {
    padding-left: 58px;
  }
}
@media (min-width: 1200px) {
  .review__info .form__subtitle {
    padding-left: 82px;
  }
}
.form__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.form__field-group,
.form__filter-group {
  border: none;
  margin: 0;
  padding: 0;
}
.form__subtitle {
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  padding-left: 16px;
}
.form__input,
.form__alternative-label,
.form__emotions {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.form__alternative-label {
  padding-left: 76px;
}
.form__input {
  display: block;
  width: 100%;
  height: 58px;
  background-color: #f2f2f2;
  border: none;
  padding-left: 16px;
  margin-bottom: 16px;
  box-sizing: border-box;
}
.form__input:focus {
  outline: 2px solid #0b5ba3;
}
.form__input:hover {
  background-color: #E5E5E5;
}
.form__input:active {
  background-color: #FFFFFF;
  border: 4px solid #E5E5E5;
}
.form__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .form__input {
    width: 87%;
  }
}
.form__line {
  position: relative;
}
.form__input-phone {
  position: relative;
}
.form__input-phone::before {
  position: absolute;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  content: "";
  width: 58px;
  height: 58px;
  z-index: 1;
  right: 0;
}
.form__input-email {
  position: relative;
}
.form__input-email::before {
  position: absolute;
  background-image: url("../img/icon-email.svg");
  background-repeat: no-repeat;
  content: "";
  width: 58px;
  height: 58px;
  z-index: 1;
  right: 0;
}
.form__alternative {
  position: relative;
  display: block;
  cursor: pointer;
}
.form__alternative:active {
  opacity: 30%;
}
@media (min-width: 768px) {
  .form__alternative {
    min-width: 185px;
    margin-right: 20px;
  }
}
.form__mark {
  position: absolute;
  bottom: -10px;
  left: 4px;
  width: 46px;
  height: 46px;
  border: none;
  background-color: #F2F2F2;
  border-radius: 4px;
}
.form__alternative-input[type="checkbox"] + .form__mark:focus {
  outline: 2px solid #0b5ba3;
}
.form__alternative-input[type="checkbox"] + .form__mark:hover {
  background-color: #E5E5E5;
}
.form__alternative-input[type="checkbox"]:checked + .form__mark::before {
  position: absolute;
  background-image: url("../img/form-checked.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  content: "";
  top: 15px;
  left: 14px;
  width: 22px;
  height: 16px;
}
.form__alternative-input[type="checkbox"]:checked + .form__mark::before:active {
  background-image: url("../img/checked-active.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.form__alternative-input[type="radio"] + .form__mark {
  border-radius: 50%;
}
.form__alternative-input[type="radio"] + .form__mark:focus {
  outline: 2px solid #0b5ba3;
}
.form__alternative-input[type="radio"] + .form__mark:hover {
  background-color: #E5E5E5;
}
.form__alternative-input[type="radio"] + .form__mark:active {
  outline: none;
}
.form__alternative-input[type="radio"]:checked + .form__mark::before {
  position: absolute;
  background-color: #333333;
  border-radius: 50%;
  content: "";
  width: 16px;
  height: 16px;
  left: 15px;
  top: 15px;
}
.form__alternative-input[type="radio"]:checked + .form__mark::after {
  position: absolute;
  top: -2px;
  left: -1px;
  width: 46px;
  height: 46px;
  content: "";
}
.form__item {
  padding: 0;
  padding-bottom: 36px;
  margin: 0;
}
.form__button {
  display: block;
  width: 281px;
  margin: 0 auto;
}
.form__button:focus {
  outline: 2px solid #0b5ba3;
}
@media (min-width: 768px) {
  .form__button {
    margin-left: 0;
  }
}
.form__footnote {
  display: block;
  text-transform: uppercase;
  text-align: right;
  font-size: 12px;
  line-height: 21px;
  color: rgba(51, 51, 51, 0.6);
  padding-top: 3px;
}
@media (min-width: 768px) {
  .form__footnote {
    font-size: 14px;
  }
}
.form__emotions {
  display: block;
  width: 100%;
  min-height: 150px;
  border: none;
  background-color: #F2F2F2;
  padding: 16px;
  margin-bottom: 50px;
  box-sizing: border-box;
}
.form__emotions:focus {
  outline: 2px solid #0b5ba3;
}
.form__emotions:hover {
  background-color: #E5E5E5;
}
.form__emotions:active {
  background-color: #FFFFFF;
  border: 4px solid #E5E5E5;
}
.form__emotions::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .form__emotions {
    height: 160px;
  }
}
.form__legend {
  position: relative;
  padding: 24px 0 20px 0;
  margin: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .form__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  height: 100%;
}
.page__body {
  min-width: 320px;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}
@media (min-width: 768px) {
  .list-emotions {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .list-emotions {
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .list-attractions {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .list-attractions {
    display: flex;
    justify-content: space-between;
  }
}
.main-form::before {
  content: "";
  position: absolute;
  top: 19%;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #E5E5E5;
  box-shadow: 0 400px 0 0 #e5e5e5, 0 690px 0 0 #e5e5e5, 0 970px 0 0 #e5e5e5, 0 1330px 0 0 #e5e5e5;
}
@media (min-width: 768px) {
  .main-form::before {
    content: none;
  }
}
.main-catalog::before {
  content: "";
  position: absolute;
  top: 15%;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #E5E5E5;
  box-shadow: 0 420px 0 0 #e5e5e5, 0 830px 0 0 #e5e5e5, 0 1245px 0 0 #e5e5e5, 0 1680px 0 0 #e5e5e5;
}
@media (min-width: 768px) {
  .main-catalog::before {
    content: none;
  }
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
}
.modal-container--close-error {
  display: none;
}
.modal-container--close-review {
  display: none;
}
.modal-error {
  width: 100vw;
  height: 280px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  margin-top: 116px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .modal-error {
    width: 400px;
    height: 347px;
    margin: 0 auto;
    margin-top: 116px;
  }
}
.modal-error__button {
  display: block;
  width: 180px;
  height: 58px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 26px;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .modal-error__button {
    margin-top: 40px;
    width: 272px;
    font-size: 21px;
  }
}
.modal__title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-top: 40px;
}
@media (min-width: 768px) {
  .modal__title {
    font-size: 30px;
    line-height: 40px;
    padding: 40px 50px 10px 50px;
  }
}
.modal__text {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  padding: 0 40px ;
}
.modal-review {
  position: relative;
  width: 100vw;
  height: 323px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  box-sizing: border-box;
  margin-top: 116px;
}
@media (min-width: 768px) {
  .modal-review {
    width: 640px;
    height: 347px;
    margin: 0 auto;
    margin-top: 116px;
  }
}
.modal-review__button {
  display: block;
  width: 100%;
  height: 58px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .modal-review__button {
    margin: 0;
    font-size: 21px;
  }
}
.modal-review__button-wrapper {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 98px;
  background-color: #F2F2F2;
  padding: 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .modal-review__button-wrapper {
    width: 640px;
    height: 146px;
    padding: 44px 91px;
    box-sizing: border-box;
  }
}
/*# sourceMappingURL=style.css.map */
